@import './less.scss';
ul{
    margin: 0;
    padding:0
}
.mnav{
    padding: rem(15) rem(0);
    background: #fff;
    margin: 0;
    ul{
        display: flex;
        justify-content: space-between;
        padding:0;
        li{
            flex: 1;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            font-size: rem(12);
            span{
                height: rem(56);
                width: rem(56);
                border-radius: 50%;
                margin: rem(0) rem(0) rem(10);
                .icon{
                    text-align: center;
                    height: rem(20);
                    width: rem(20);
                    color: #fff;
                    margin: rem(18) rem(0);
                }
            } 
        }
    }
}
.notice{
    background: #fff;
    height: rem(40);
    overflow: hidden;
    b{
        float: left;
        margin-right: rem(15);
        color: #4d4d4d;
        line-height: rem(40);
    }
    ul{
       float: left; 
        height: rem(40);
        overflow: hidden;
        li{
            height: rem(40);
            overflow: hidden;
            line-height: rem(40);
            color: #000;
            font-family: '黑体'
        }
    }
}
.xianshi{
    margin: rem(10) rem(0);
    background: #fff;
    p{
        margin: 0;
        padding:rem(10) rem(5);
    }
}
.tit{
    background: #fff;
    padding: rem(5);
    height: rem(40);
    a{
        display: flex;
        justify-content: space-between;
        img{
            height: rem(18);
            width: auto;
            padding: rem(5);
        }
        span{
            padding-right: rem(15);
            text-align: center;
        }
    }
}
.pinpai{
    height: rem(210);
    background: #fff;
    margin-bottom: rem(15);
    ul{
        width: 100%;
        padding: 0;
        a{
            height: rem(78);
            width: rem(124);
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            float: left;
            img{
                width: rem(109);
                height: rem(60);
                text-align: center;
                padding-top:rem(9);
            }
        }
    }
}
.hot{
    margin-bottom: rem(20);
    .list1{
        width: 100%;
        ul{
            height: rem(240);
            width: rem(176);
            display: inline-block;
            margin:rem(8) rem(0) rem(0) rem(5);
            background: #fff;
            li{
                display: flex;
                justify-content: space-between;
                p{
                    overflow: hidden;
                    white-space: nowrap;
                }
                .nowprice{
                    color: #dd157c;
                    font-weight: bold;
                }
                img{
                    height: rem(176);
                    width: rem(176);
                }
                span{
                    flex: 1;
                    padding: rem(5) rem(0);
                }
            }
        }
    }
}
