@import './less.scss';
ul{
    margin: 0;
    padding:0
}
.mnav{
    padding: rem(15) rem(0);
    background: #fff;
    margin: 0;
    ul{
        display: flex;
        justify-content: space-between;
        padding:0;
        li{
            flex: 1;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            font-size: rem(12);
            span{
                height: rem(56);
                width: rem(56);
                border-radius: 50%;
                margin: rem(0) rem(0) rem(10);
                .icon{
                    text-align: center;
                    height: rem(20);
                    width: rem(20);
                    color: #fff;
                    margin: rem(18) rem(0);
                }
            } 
        }
    }
}
.xianshi{
    margin: rem(10) rem(0);
    background: #fff;
    p{
        margin: 0;
        padding:rem(10) rem(5);
    }
}
.tit{
    background: #fff;
    padding: rem(5);
    height: rem(40);
    a{
        display: flex;
        justify-content: space-between;
        img{
            height: rem(18);
            width: auto;
            padding: rem(5);
        }
        span{
            padding-right: rem(15);
            text-align: center;
        }
    }
}
.pinpai{
    height: rem(210);
    background: #fff;
    margin-bottom: rem(15);
    ul{
        width: 100%;
        padding: 0;
        li{
            height: rem(78);
            width: rem(124);
            border-bottom: 1px solid #ccc;
            border-right: 1px solid #ccc;
            float: left;
            img{
                width: rem(109);
                height: rem(60);
                text-align: center;
                padding-top:rem(9);
            }
        }
    }
}
.hot{
    margin-bottom: rem(20);
    .list1{
        width: 100%;
        ul{
            height: rem(240);
            width: rem(176);
            display: inline-block;
            margin:rem(8) rem(0) rem(0) rem(5);
            background: #fff;
            li{
                display: flex;
                justify-content: space-between;
                p{
                    overflow: hidden;
                    white-space: nowrap;
                }
                
                img{
                    height: rem(176);
                    width: rem(176);
                }
                span{
                    flex: 1;
                    padding: rem(5) rem(0);
                }
            }
        }
    }
}
.msg{
    .pro1{
        background: #fff;
        .pro1-top{
            height: rem(261);
            .pro1-top-lt{
                border-right: 1px solid #ccc;
                border-bottom: 1px solid #ccc;
                padding: 0 rem(3);
                height: 100%;
                float: left;
                li{
                    padding-bottom: rem(10);
                    p{
                        text-align: center;
                        margin-top: rem(40);
                        font-size: rem(18);
                    }
                    a{
                        padding-bottom: rem(20);
                        img{
                            width: rem(140);
                            height: rem(140);
                        }
                    }
                }
            }
            .pro1-top-rh{
                float: right;
                width: rem(228);
                li{
                    height: rem(130);
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    justify-content: space-between;
                    p{
                        display: flex;
                        flex-direction: column;
                        font-size: rem(14);
                        padding-left: rem(10);
                        span{
                            padding: rem(5) rem(0);
                            color: #db1579;
                        }
                    }
                    a{
                        margin-left: rem(30);
                        img{
                            width: rem(110);
                            height: rem(110);
                        }
                    }
                }
            }
        }
        .pro1-fot{ 
            background: #fff;
            display: block;
            overflow: hidden;
            width: 100%;
            ul{
                width: 24.7%;
                float: left;
                border-right: 1px solid #ccc;
                height: auto;
                li{
                    text-align: left;
                    p{
                        padding:rem(7) rem(5) 0;
                        font-size: rem(14);
                        text-align: left;
                    }
                    span{
                        padding:rem(7) rem(5);
                        font-size: rem(12);
                        text-align: left;
                        color: #db1579;
                    }
                }
                a{
                    img{
                        width: rem(88);
                        height: rem(88);
                    }
                }
            }
        }
    }
    .pro2{
        margin-top: rem(20);
        background: #fff;
        overflow: hidden;
        .pro2-top{
            border-bottom: 1px solid #ccc;
            display: flex;
            ul{
                flex: 1;
                li{
                    p{
                        font-size: rem(14);
                        text-align: left;
                    }
                }
                a{
                    img{
                        width: rem(110);
                        height: rem(110);
                    }
                }
            }
        }
        .pro2-fot{
            overflow: hidden;
            ul{
                width: 50%;
                float: left;
                li{
                    float: left;
                    width: 40%;
                    padding-left: rem(5);
                    p{
                        text-align: left;
                        font-size: rem(14);
                    }
                }
                a{
                    float: left;
                    width: rem(100);
                    height:rem(100);
                    img{
                        width: rem(100);
                        height:rem(100);
                    }
                }
            }
        }
    }
}